$accent: #ffaf42;
$grey: #383e4b;

%bah-300 {
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 300;
}%bah-400 {
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 400;
}
%bah-500 {
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 500;
}
%bah-600 {
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 600;
}
%bah-700 {
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 700;
}
%bah-800 {
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 800;
}

.title {
    @extend %bah-700;
    font-size: 53px;
    line-height: 59px;
    color: $grey;
    text-align: center;
}